.productImage {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cellStyle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
}


@media (max-width: 750px) {
    .center-on-small {
      width: 100%; /* Take full width */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center horizontally */
      align-self: center;
    }
  }

  .tab-content {
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Start with content fully transparent */
    transform: scaleY(0); /* Start with content scaled down to nothing */
    height: 0; /* Initially, the height is 0 to avoid taking space */
    overflow: hidden; /* Prevents content from spilling out during the transition */
  }
  
  .tab-content.active {
    opacity: 1; /* Fade in to full opacity */
    transform: scaleY(1); /* Scale up to full size */
    height: auto; /* Allow the height to grow as needed */
  }
  