.productImage {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 750px) {
    .center-on-small {
      width: 100%; /* Take full width */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center horizontally */
      align-self: center;
    }
  }

  .custom-blockquote {
    border-left: 5px solid #3b3994;
    margin: 0.5em 0;
    padding-left: 1em;
    color: #c02c2c;
  }