--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" integer NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO appuser;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetRoles" (
    "Id" integer NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO appuser;

--
-- Name: AspNetRoles_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."AspNetRoles" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoles_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" integer NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO appuser;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" integer NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO appuser;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" integer NOT NULL,
    "RoleId" integer NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO appuser;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" integer NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO appuser;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."AspNetUsers" (
    "Id" integer NOT NULL,
    "AdminTokens" integer,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO appuser;

--
-- Name: AspNetUsers_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."AspNetUsers" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUsers_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: BasketItems; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."BasketItems" (
    "Id" integer NOT NULL,
    "Quantity" integer NOT NULL,
    "ProductId" integer NOT NULL,
    "ConfigId" integer NOT NULL,
    "BasketId" integer NOT NULL
);


ALTER TABLE public."BasketItems" OWNER TO appuser;

--
-- Name: BasketItems_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."BasketItems" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."BasketItems_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Baskets; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Baskets" (
    "Id" integer NOT NULL,
    "BuyerId" text,
    "PaymentIntentId" text,
    "ClientSecret" text
);


ALTER TABLE public."Baskets" OWNER TO appuser;

--
-- Name: Baskets_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Baskets" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Baskets_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Categories; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Categories" (
    "Id" integer NOT NULL,
    "Title" text,
    "PictureUrl" text,
    "ParentCategoryId" integer,
    "CategoryId" integer,
    "Description" text
);


ALTER TABLE public."Categories" OWNER TO appuser;

--
-- Name: Categories_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Categories" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Categories_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Config; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Config" (
    "Id" integer NOT NULL,
    "Price" bigint NOT NULL,
    "QuantityInStock" integer NOT NULL,
    "Key" text,
    "Value" text,
    "ProductId" integer NOT NULL,
    "Name" text
);


ALTER TABLE public."Config" OWNER TO appuser;

--
-- Name: ConfigPreset; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."ConfigPreset" (
    "Id" integer NOT NULL,
    "Key" text,
    "Value" text,
    "ConfigPresetCompositionId" integer,
    "ProductId" integer
);


ALTER TABLE public."ConfigPreset" OWNER TO appuser;

--
-- Name: ConfigPresetCompositions; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."ConfigPresetCompositions" (
    "Id" integer NOT NULL,
    "Key" text
);


ALTER TABLE public."ConfigPresetCompositions" OWNER TO appuser;

--
-- Name: ConfigPresetCompositions_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."ConfigPresetCompositions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ConfigPresetCompositions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ConfigPreset_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."ConfigPreset" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ConfigPreset_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Config_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Config" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Config_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Image; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Image" (
    "Id" integer NOT NULL,
    "PictureUrl" text,
    "PublicId" text,
    "ProductId" integer,
    "Name" text,
    "Order" integer DEFAULT 0 NOT NULL,
    "ConfigId" integer
);


ALTER TABLE public."Image" OWNER TO appuser;

--
-- Name: Image_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Image" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Image_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."OrderItem" (
    "Id" integer NOT NULL,
    "ItemOrdered_ProductId" integer,
    "ItemOrdered_Name" text,
    "ItemOrdered_PictureUrl" text,
    "ItemOrdered_ConfigId" integer,
    "Price" bigint NOT NULL,
    "Quantity" integer NOT NULL,
    "ConfigId" integer,
    "OrderId" integer
);


ALTER TABLE public."OrderItem" OWNER TO appuser;

--
-- Name: OrderItem_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."OrderItem" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."OrderItem_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Orders; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Orders" (
    "Id" integer NOT NULL,
    "BuyerId" text,
    "ShippingAddress_FullName" text,
    "ShippingAddress_Address1" text,
    "ShippingAddress_Address2" text,
    "ShippingAddress_City" text,
    "ShippingAddress_State" text,
    "ShippingAddress_Zip" text,
    "ShippingAddress_Country" text,
    "OrderDate" timestamp with time zone NOT NULL,
    "Subtotal" bigint NOT NULL,
    "DeliveryFee" bigint NOT NULL,
    "OrderStatus" integer NOT NULL,
    "PaymentIntentId" text
);


ALTER TABLE public."Orders" OWNER TO appuser;

--
-- Name: Orders_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Orders" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Orders_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Products; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Products" (
    "Id" integer NOT NULL,
    "Name" text,
    "Description" text,
    "Price" bigint NOT NULL,
    "Type" text,
    "Brand" text,
    "QuantityInStock" integer NOT NULL,
    "categoryId" integer NOT NULL
);


ALTER TABLE public."Products" OWNER TO appuser;

--
-- Name: Products_Id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public."Products" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Products_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UserAddress; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."UserAddress" (
    "Id" integer NOT NULL,
    "FullName" text,
    "Address1" text,
    "Address2" text,
    "City" text,
    "State" text,
    "Zip" text,
    "Country" text
);


ALTER TABLE public."UserAddress" OWNER TO appuser;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO appuser;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
1	Member	MEMBER	\N
2	Admin	ADMIN	\N
3	Test	TEST	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
1	1
2	1
2	2
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: BasketItems; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."BasketItems" ("Id", "Quantity", "ProductId", "ConfigId", "BasketId") FROM stdin;
114	2	14	11	6
115	2	14	12	6
116	2	14	13	6
\.


--
-- Data for Name: Baskets; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."Baskets" ("Id", "BuyerId", "PaymentIntentId", "ClientSecret") FROM stdin;
2	bob	\N	\N
6	admin	pi_3Nj64oEP2FAJR8so0LglrL2M	pi_3Nj64oEP2FAJR8so0LglrL2M_secret_utJknQrf3mNCKNW1pt7dmSwFT
\.


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: Config; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."Config" ("Id", "Price", "QuantityInStock", "Key", "Value", "ProductId", "Name") FROM stdin;
11	333	123	color	blue	14	\N
13	222	33	color	green	14	\N
12	111	111	color	red	14	\N
\.


--
-- Data for Name: ConfigPreset; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."ConfigPreset" ("Id", "Key", "Value", "ConfigPresetCompositionId", "ProductId") FROM stdin;
1	Color	Red	1	\N
2	Color	Green	1	\N
3	Color	Blue	1	\N
4	Size	Big	2	\N
5	Size	Medium	2	\N
6	Size	Small	2	\N
\.


--
-- Data for Name: ConfigPresetCompositions; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."ConfigPresetCompositions" ("Id", "Key") FROM stdin;
1	Color
2	Size
\.


--
-- Data for Name: Image; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."OrderItem" ("Id", "ItemOrdered_ProductId", "ItemOrdered_Name", "ItemOrdered_PictureUrl", "ItemOrdered_ConfigId", "Price", "Quantity", "ConfigId", "OrderId") FROM stdin;
1	6	Zaptec Go	https://res.cloudinary.com/dkoll9vi1/image/upload/v1692626614/mylewaimjc32sduh0cvi.webp	0	659500	1	0	1
\.


--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."Orders" ("Id", "BuyerId", "ShippingAddress_FullName", "ShippingAddress_Address1", "ShippingAddress_Address2", "ShippingAddress_City", "ShippingAddress_State", "ShippingAddress_Zip", "ShippingAddress_Country", "OrderDate", "Subtotal", "DeliveryFee", "OrderStatus", "PaymentIntentId") FROM stdin;
1	admin	asdf	asdf	asdf	1234	sadf	1234	Norway	2023-08-23 18:14:08.339932+00	659500	0	0	pi_3NiLJ5EP2FAJR8so1wzj447F
\.


--
-- Data for Name: Products; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: UserAddress; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."UserAddress" ("Id", "FullName", "Address1", "Address2", "City", "State", "Zip", "Country") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20230820075152_PostgresInitial	7.0.3
20230820080617_Add	7.0.3
20230821113945_CategoryDescription	7.0.3
20230822184635_ImageName	7.0.3
20230822201539_ImageOrder	7.0.3
20230826075745_ConfigImages	7.0.3
\.


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetRoles_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."AspNetRoles_Id_seq"', 4, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: AspNetUsers_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."AspNetUsers_Id_seq"', 2, true);


--
-- Name: BasketItems_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."BasketItems_Id_seq"', 116, true);


--
-- Name: Baskets_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Baskets_Id_seq"', 6, true);


--
-- Name: Categories_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Categories_Id_seq"', 1, false);


--
-- Name: ConfigPresetCompositions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."ConfigPresetCompositions_Id_seq"', 2, true);


--
-- Name: ConfigPreset_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."ConfigPreset_Id_seq"', 6, true);


--
-- Name: Config_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Config_Id_seq"', 13, true);


--
-- Name: Image_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Image_Id_seq"', 48, true);


--
-- Name: OrderItem_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."OrderItem_Id_seq"', 1, true);


--
-- Name: Orders_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Orders_Id_seq"', 1, true);


--
-- Name: Products_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public."Products_Id_seq"', 14, true);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: BasketItems PK_BasketItems; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BasketItems"
    ADD CONSTRAINT "PK_BasketItems" PRIMARY KEY ("Id");


--
-- Name: Baskets PK_Baskets; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Baskets"
    ADD CONSTRAINT "PK_Baskets" PRIMARY KEY ("Id");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("Id");


--
-- Name: Config PK_Config; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Config"
    ADD CONSTRAINT "PK_Config" PRIMARY KEY ("Id");


--
-- Name: ConfigPreset PK_ConfigPreset; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ConfigPreset"
    ADD CONSTRAINT "PK_ConfigPreset" PRIMARY KEY ("Id");


--
-- Name: ConfigPresetCompositions PK_ConfigPresetCompositions; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ConfigPresetCompositions"
    ADD CONSTRAINT "PK_ConfigPresetCompositions" PRIMARY KEY ("Id");


--
-- Name: Image PK_Image; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "PK_Image" PRIMARY KEY ("Id");


--
-- Name: OrderItem PK_OrderItem; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "PK_OrderItem" PRIMARY KEY ("Id");


--
-- Name: Orders PK_Orders; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "PK_Orders" PRIMARY KEY ("Id");


--
-- Name: Products PK_Products; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "PK_Products" PRIMARY KEY ("Id");


--
-- Name: UserAddress PK_UserAddress; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."UserAddress"
    ADD CONSTRAINT "PK_UserAddress" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_BasketItems_BasketId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_BasketItems_BasketId" ON public."BasketItems" USING btree ("BasketId");


--
-- Name: IX_BasketItems_ProductId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_BasketItems_ProductId" ON public."BasketItems" USING btree ("ProductId");


--
-- Name: IX_Categories_CategoryId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_Categories_CategoryId" ON public."Categories" USING btree ("CategoryId");


--
-- Name: IX_ConfigPreset_ConfigPresetCompositionId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_ConfigPreset_ConfigPresetCompositionId" ON public."ConfigPreset" USING btree ("ConfigPresetCompositionId");


--
-- Name: IX_ConfigPreset_ProductId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_ConfigPreset_ProductId" ON public."ConfigPreset" USING btree ("ProductId");


--
-- Name: IX_Config_ProductId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_Config_ProductId" ON public."Config" USING btree ("ProductId");


--
-- Name: IX_Image_ConfigId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_Image_ConfigId" ON public."Image" USING btree ("ConfigId");


--
-- Name: IX_Image_ProductId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_Image_ProductId" ON public."Image" USING btree ("ProductId");


--
-- Name: IX_OrderItem_OrderId; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "IX_OrderItem_OrderId" ON public."OrderItem" USING btree ("OrderId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: BasketItems FK_BasketItems_Baskets_BasketId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BasketItems"
    ADD CONSTRAINT "FK_BasketItems_Baskets_BasketId" FOREIGN KEY ("BasketId") REFERENCES public."Baskets"("Id") ON DELETE CASCADE;


--
-- Name: BasketItems FK_BasketItems_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BasketItems"
    ADD CONSTRAINT "FK_BasketItems_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id") ON DELETE CASCADE;


--
-- Name: Categories FK_Categories_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "FK_Categories_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id");


--
-- Name: ConfigPreset FK_ConfigPreset_ConfigPresetCompositions_ConfigPresetCompositi~; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ConfigPreset"
    ADD CONSTRAINT "FK_ConfigPreset_ConfigPresetCompositions_ConfigPresetCompositi~" FOREIGN KEY ("ConfigPresetCompositionId") REFERENCES public."ConfigPresetCompositions"("Id");


--
-- Name: ConfigPreset FK_ConfigPreset_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ConfigPreset"
    ADD CONSTRAINT "FK_ConfigPreset_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id");


--
-- Name: Config FK_Config_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Config"
    ADD CONSTRAINT "FK_Config_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id") ON DELETE CASCADE;


--
-- Name: Image FK_Image_Config_ConfigId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "FK_Image_Config_ConfigId" FOREIGN KEY ("ConfigId") REFERENCES public."Config"("Id");


--
-- Name: Image FK_Image_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "FK_Image_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("Id") ON DELETE CASCADE;


--
-- Name: OrderItem FK_OrderItem_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "FK_OrderItem_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("Id");


--
-- Name: UserAddress FK_UserAddress_AspNetUsers_Id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."UserAddress"
    ADD CONSTRAINT "FK_UserAddress_AspNetUsers_Id" FOREIGN KEY ("Id") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

